/_output/
/bin/
/install/SCONE*.exe
ignore/
/doc/ref/
/doc/html/
/doc/xml/
/doc/config/NaturalDocs/Working Data/
/scenarios/Tutorials/*.sto
/resources/unittestdata/tutorial_test/
*simulation_test_result*.zml
/.version
/doc/upload.bat
/make_release_win64.bat
/make_release_win64_nodoc.bat
/install/*.exe
*.log
