[submodule "submodules/flut"]
	path = submodules/flut
	url = https://github.com/tgeijten/flut.git
[submodule "submodules/simvis"]
	path = submodules/simvis
	url = https://github.com/tgeijten/simvis.git
[submodule "submodules/qtfx"]
	path = submodules/qtfx
	url = https://github.com/tgeijten/qtfx.git
[submodule "submodules/spot"]
	path = submodules/spot
	url = https://github.com/tgeijten/spot.git
