/_output/
/bin/
/doc/ref/
/doc/html/
/doc/xml/
/doc/config/NaturalDocs/Working Data/
/scenarios/Tutorials/*.sto
/scenarios/UnitTests/*.sto
/scenarios/UnitTests/Hyfydy
/resources/unittestdata/
/install
/.version
/doc/upload.bat
/install/*.exe
/*.bat
*.log
.cquery_cached_index/
/.vs/
/.dir-locals.el
*~
build/
