/_output/
/bin/
ignore/
/doc/ref/
/doc/html/
/doc/xml/
/doc/config/NaturalDocs/Working Data/
/scenarios/Tutorials/*.sto
/scenarios/UnitTests/*.sto
/scenarios/Examples/
/resources/unittestdata/Tutorials/
/resources/unittestdata/UnitTests/
/.version
/doc/upload.bat
/install/*.exe
/*.bat
*.log
.cquery_cached_index/
/.dir-locals.el
*~
build/
